<nav class="text-center text-gray-300 py-4 my-4 relative w-full flex items-center justify-center p-5 w-full">
  <div class="line"></div>
  <% if @unicode_character.previous(5).present? %>
    <div class="hidden 3xl:flex items-center">
      <%= link_to "/codepoint/#{@unicode_character.previous(5).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.previous(5))) %>
      <% end %>
      <div class="bg-indigo-500 w-10 h-5"></div>
    </div>
  <% else %>
    <div class="hidden 3xl:flex w-30"></div>
  <% end %>
  <% if @unicode_character.previous(4).present? %>
    <div class="hidden 2xl:flex items-center">
      <%= link_to "/codepoint/#{@unicode_character.previous(4).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.previous(4))) %>
      <% end %>
      <div class="bg-indigo-500 w-10 h-5"></div>
    </div>
  <% else %>
    <div class="hidden 2xl:flex w-30"></div>
  <% end %>
  <% if @unicode_character.previous(3).present? %>
    <div class="hidden xl:flex items-center">
      <%= link_to "/codepoint/#{@unicode_character.previous(3).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.previous(3))) %>
      <% end %>
      <div class="bg-indigo-500 w-10 h-5"></div>
    </div>
  <% else %>
    <div class="hidden xl:flex w-30"></div>
  <% end %>
  <% if @unicode_character.previous(2).present? %>
    <div class="hidden lg:flex items-center">
      <%= link_to "/codepoint/#{@unicode_character.previous(2).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.previous(2))) %>
      <% end %>
      <div class="bg-indigo-500 w-10 h-5"></div>
    </div>
  <% else %>
    <div class="hidden lg:flex w-30"></div>
  <% end %>
  <% if @unicode_character.previous.present? %>
    <div class="hidden md:flex items-center">
      <%= link_to "/codepoint/#{@unicode_character.previous.hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.previous)) %>
      <% end %>
      <div class="z-1 text-sm text-white bg-indigo-500 px-2 min-w-25 h-5">← Previous</div>
    </div>
  <% else %>
    <div class="hidden md:flex w-40"></div>
  <% end %>
  <div class="relative flex flex-col items-center">
    <div class="absolute z-2 font-mono text-xs tracking-[0.12em] text-gray-600">
      U+<%= @unicode_character.hex %>
    </div>
    <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character, type: :main)) %>
  </div>
  <% if @unicode_character.next.present? %>
    <div class="hidden md:flex items-center">
      <div class="z-1 text-sm text-white bg-indigo-500 px-2 min-w-25 h-5">Next →</div>
      <%= link_to "/codepoint/#{@unicode_character.next.hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.next)) %>
      <% end %>
    </div>
  <% else %>
    <div class="w-40"></div>
  <% end %>
  <% if @unicode_character.next(2).present? %>
    <div class="hidden lg:flex items-center">
      <div class="bg-indigo-500 w-10 h-5"></div>
      <%= link_to "/codepoint/#{@unicode_character.next(2).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.next(2))) %>
      <% end %>
    </div>
  <% else %>
    <div class="hidden lg:flex w-30"></div>
  <% end %>
  <% if @unicode_character.next(3).present? %>
    <div class="hidden xl:flex items-center">
      <div class="bg-indigo-500 w-10 h-5"></div>
      <%= link_to "/codepoint/#{@unicode_character.next(3).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.next(3))) %>
      <% end %>
    </div>
  <% else %>
    <div class="hidden xl:flex w-30"></div>
  <% end %>
  <% if @unicode_character.next(4).present? %>
    <div class="hidden 2xl:flex items-center">
      <div class="bg-indigo-500 w-10 h-5"></div>
      <%= link_to "/codepoint/#{@unicode_character.next(4).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.next(4))) %>
      <% end %>
    </div>
  <% else %>
    <div class="hidden 2xl:flex w-30"></div>
  <% end %>
  <% if @unicode_character.next(5).present? %>
    <div class="hidden 3xl:flex items-center">
      <div class="bg-indigo-500 w-10 h-5"></div>
      <%= link_to "/codepoint/#{@unicode_character.next(5).hex}" do %>
        <%= render(UnicodeCharacterCard.new(unicode_character: @unicode_character.next(5))) %>
      <% end %>
    </div>
  <% else %>
    <div class="hidden 3xl:flex w-30"></div>
  <% end %>
</nav>
